html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  flex: 25%;
}

.main-content {
  text-align: center;
  flex: 50%;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  font-size: 1.5rem;
}

.instructions h2:not(:first-child) {
  margin-top: 8%;
}

h3 {
  margin-top: 8%;
  margin-bottom: 1%;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}

div > input {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

input[type='text'] {
  width: 26vw;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
}

form textarea {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 34vw;
  height: 44vh;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  box-shadow: 2px 2px 2px #ccc;
}

div > button {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

button[type='submit'] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  box-shadow: 2px 2px 2px #ccc;
}

button:enabled {
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

button:disabled {
  color: rgb(139, 139, 139);
}

.sidebar {
  position: absolute;
  /* background-color: rgb(151, 151, 151); */
  margin: 0;
  padding: 0;
  width: 25vw;
  height: 100vh;
  left: -25%;
  top: 0%;
  box-shadow: 2px 2px 2px #ccc;
  transition: 0.5s;
  overflow: auto;
}

.sidebar.expanded {
  left: 0px;
}

.instructions {
  padding: 0 15px;
}

.question-example {
  font-family: monospace;
  line-height: normal;
}

.tab {
  box-sizing: border-box;
  display: inline-block;
  border: none;
  margin: 0;
  color: rgb(221, 221, 221);
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(139, 139, 139);
  border-radius: 0 100% 100% 0;
  --tab-height: 13.5vh;
  height: var(--tab-height);
  width: 27px;
  position: absolute;
  top: calc(50vh - var(--tab-height) / 2);
  left: 0%;
  transition: 0.5s;
}

.tab.expanded {
  left: 25%;
}
